{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'search_style.css' %}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <title>Search</title>
</head>
<body>
    <div class="header" >
      Search Courses ....
    </div>
    <div class="search-block">
      <form method="POST" action="/search/">
        {% csrf_token %}
        <input name="content" id="content" type="text" placeholder="&#xf002;   Search courses "/>
        <select name="duration" id="duration">
          <option selected disabled hidden> Duration:</option>
          <option value="1">&lt;1 Month</option>
          <option value="2">&lt;2 Month</option>
          <option value="3">&lt;3 Month</option>
          <option value="4">&lt;4 Month</option>
          <option value="5">&lt;5 Month</option>
          <option value="6">&gt;5 Month</option>
        </select>
        <select name="money" id="money">
          <option value="paid" selected>Paid</option>
          <option value="unpaid" >Unpaid</option>
        </select>

        <button type="submit"><i class="fas fa-paper-plane"></i></button>
         
      </form>
    </div>

</body>
</html>